@media screen and (max-width: 770px) {
  .row2 {
    display: none;
  }
  .form__login {
    width: 120%;
  }
  .sidebar {
    display: none;
  }
  .cover__login {
    display: none;
  }
  .navbottom > a > .nav_text {
    font-size: 12px;
    padding: 0 auto;
    width: 100%;
  }
  .fr__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fr__row > div > .font__light-b {
    font-size: 22px;
  }
  .size__font > .font__dark-b {
    font-size: 20px;
  }
  .landing__page > div > div > .font__primary {
    font-size: 20px;
  }
  .mq {
    font-size: 24px;
  }
  .page__2 > div > .p__ {
    margin-top: 0;
  }
}

@media screen and (min-width: 770px) {
  .responsive-mobile {
    display: none;
  }
}

.font__light-b {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #ffffff;
  font-weight: 700;
}

.font__light {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #ffffff;
  font-weight: 300;
}

.font__dark-b {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #3A3D42;
  font-weight: 700;
}

.font__dark {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #3A3D42;
  font-weight: 300;
}

.font__default {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #3A3D42;
  font-weight: 300;
  opacity: .5;
}

.font__primary {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #6379F4;
  font-weight: 700;
}

.main__header {
  width: 100vw;
  height: 100vh;
}

.bg__1 {
  background-color: #6379F4 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.img__phone {
  width: 60%;
  height: auto;
}

.bg__2 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__login {
  padding: 8%;
  width: 100%;
  height: 80%;
}

.btn__primary {
  background-color: #6379F4 !important;
  color: #ffffff !important;
  width: 100%;
}

/*navbar*/
.img_sm {
  width: 3em;
  height: 3em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.card_img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card_img__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_user-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*sidebar*/
.card_radius {
  background-color: #ffffff !important;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-top: 5px;
}

.navbar {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff !important;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  padding: .5rem 0 .5rem;
  margin-top: 5px;
}

.nav-item :focus {
  color: #6379F4 !important;
  border-left: solid #6379F4 !important;
  padding-left: 30px;
}

.nav_text {
  margin-left: 1rem;
}

.navbottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff !important;
  opacity: .7;
}

.side__bar {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

/*content*/
.flex__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

footer {
  background-color: #6379F4 !important;
  padding: 10px 0 10px;
}

.homepage {
  background-color: #F8F9FA !important;
}

.fr__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
}

.link__light {
  text-decoration: none;
  color: #ffffff !important;
}

.fr__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .4em;
}

.fr__row__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__1 {
  padding: 20px;
  background-color: #6379F4 !important;
  border-radius: 20px;
}

.btn__transparant {
  background-color: #E5E5E5 !important;
  opacity: .9;
  width: 100%;
}

#chartdiv {
  width: 100%;
  height: 300px;
}

.fr__row-shadow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .4em;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.fr__row-shadow__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.btn__primary-sm {
  background-color: #6379F4 !important;
  color: #ffffff !important;
}

.landing__page {
  width: 100vw;
}

.img__1 {
  width: 43%;
  position: absolute;
  right: 0;
  top: 0;
}

.fr__right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .4em;
  position: absolute;
  top: 5%;
  right: 0;
  width: 200px;
}

.img__2 {
  position: absolute;
  width: 60%;
  top: 10%;
  right: 15%;
}

.btn__light {
  background-color: #ffffff !important;
  color: #6379F4 !important;
  width: 100%;
}

.p__ {
  padding: 100px;
}

.fr_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.fr_center__card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

.img__3 {
  width: 5em;
  height: 50px;
  margin: 5px;
}

.fr__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__6 {
  background-color: #6379F4 !important;
  padding: 30px;
}

.col_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__2 {
  position: relative;
  top: 30%;
}

.fr_cen {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */